$firm_mint: #00a1b6;
$firm_brown: #683b39;
$dark_grey: #333333;

@mixin button {
    margin: 0 auto;
    border-radius: 25px;
    font-weight: 500;
    transition: 0.5s all;
    cursor: pointer;
}