@import 'constants/constants.scss';

.drawer .drawer_icon {
    position: fixed;
    right: 30px;
    top: 20px;
    color: #a0a0a0;
    font-size: 50px;
    font-weight: 700;
    padding: 8px;
    border: 2px solid #a0a0a0;
    border-radius: 50%;
    z-index: 5;
    cursor: pointer;
}

.list_box {
    .list_items {
        padding: 20px;
        font-size: 20px;
        &_item {
            color: #000;
            text-decoration: none;
            padding: 8px;
            &:hover {
                color: #808080;
            }
        }
        &img {
            margin-bottom: 20px;
        }
    }
    .link_item {
        margin: 40px 0 0 20px;
        margin-bottom: 60px;
    }
    .link_button {
        @include button;
        padding: 15px 30px;
        border: 1px solid #000;
        color: #000;
        text-decoration: none;
        &:hover {
            background-color: $firm_mint;
            color: #fff;
            border: 1px solid $firm_mint;
        }
    }
    .lang_button {
        @include button;
        display: inline;
        padding: 1px 14px 4px 14px;
        margin-left: 18px;
        border: 1px solid #000;
        color: #000;
        text-decoration: none;
        &:hover {
            background-color: $firm_mint;
            color: #fff;
            border: 1px solid $firm_mint;
        }
    }
    .lang_active {
        background-color: $firm_mint;
        color: #fff;
        border: 1px solid $firm_mint;
    }
}