@import 'constants/constants.scss';

.menu_block {
    display: block;
    text-align: center;
    .menu_img {
        margin: 50px auto;
        width: 80%;
        cursor: pointer;
    }
    .menu_title {
        margin-top: 30px;
        font-size: 40px;
        font-weight: 700;
        @media (max-width: 768px) {
            font-size: 30px;
        }
    }
    .menu_subtitle {
        margin-top: 20px;
        font-size: 25px;
        font-weight: 300;
        @media (max-width: 768px) {
            font-size: 20px;
        }
    }
    .lang_button {
        @include button;
        display: inline;
        padding: 2px 14px 4px 14px;
        margin: 0 15px;
        border: 1px solid #000;
        color: #000;
        text-decoration: none;
        &:hover {
            background-color: $firm_mint;
            color: #fff;
            border: 1px solid $firm_mint;
        }
    }
    .lang_active {
        background-color: $firm_mint;
        color: #fff;
        border: 1px solid $firm_mint;
    }
}